## UTILIZANDO SWAPI CON PYTHON

In [2]:
import swapi
import pandas as pd

#### Extraer personajes mediante el metodo get_person(id)

In [3]:
luke = swapi.get_person(1)

In [4]:
luke.name

'Luke Skywalker'

In [5]:
luke.height

'172'

In [6]:
luke.homeworld

'https://swapi.co/api/planets/1/'

En el caso de planeta y de especie no se retornan nombres sino links, aprovechando los id del planeta y especie crearé funciones que permitan obtenerlos directamente.

In [7]:
def nombrePlaneta(link):
    id = link.split("/")[-2]
    return swapi.get_planet(id).name

In [8]:
nombrePlaneta("https://swapi.co/api/films/2/")

'Alderaan'

In [9]:
def nombreEspecie(link):
    id = link.split("/")[-2]
    return swapi.get_species(id).name

In [10]:
nombreEspecie("https://swapi.co/api/species/1/")

'Human'

In [12]:
dicc = {"name": [], "height": [] , "mass": [] , "hair_color": [], "eye_color": [] , "planet":[], "films": [], "specie":[]} 
dicc.keys()

dict_keys(['name', 'height', 'mass', 'hair_color', 'eye_color', 'planet', 'films', 'specie'])

In [13]:
for id in range(1,82):
    try:
        character = swapi.get_person(id)
        planet = nombrePlaneta(character.homeworld)
        specie = nombreEspecie(character.species[0])
        
        dicc["name"].append(character.name)
        dicc["height"].append(character.height)
        dicc["mass"].append(character.mass)
        dicc["hair_color"].append(character.hair_color)
        dicc["eye_color"].append(character.eye_color)
        dicc["planet"].append(planet)
        dicc["films"].append(len(character.films))
        dicc["specie"].append(specie)
    except:
        print("El personaje con id = "+str(id)+" no existe")

El personaje con id = 17 no existe
El personaje con id = 39 no existe
El personaje con id = 42 no existe
El personaje con id = 75 no existe

In [14]:
starWars = pd.DataFrame(dicc)
starWarsOrd = starWars[["name", "specie", "planet" ,"films", "mass", "height", "hair_color", "eye_color"]]

In [15]:
starWarsOrd.head(5)

             name specie    planet  films mass height hair_color eye_color
0  Luke Skywalker  Human  Tatooine      5   77    172      blond      blue
1           C-3PO  Droid  Tatooine      6   75    167        n/a    yellow
2           R2-D2  Droid     Naboo      7   32     96        n/a       red
3     Darth Vader  Human  Tatooine      4  136    202       none    yellow
4     Leia Organa  Human  Alderaan      5   49    150      brown     brown

In [141]:
starWars.to_pickle("StarWarsDf") #Guardarlo como un dataFrame serializado

In [142]:
starWars.to_csv("StarWars.csv") #Guardarlo como un csv

Para más información sobre los métodos de SWAPI en python: https://github.com/phalt/swapi-python